.social-login__box {
  max-width: 420px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-bottom: 15px;
  }
  img {
    width: 360px;
    height: 45px;
    border-radius: 10px;
  }
}
