.profile__container {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.profile__name {
  width: 70%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .profile__name__identity {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    h1 {
      font-size: 42px;
    }
    h3 {
      font-size: 20px;
      color: $link-hover;
    }
  }
  img {
    width: 120px;
    height: 120px;
  }
}

.profile__info {
  width: 90%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    p:first-child {
      font-size: 14px;
      font-weight: 600;
    }
    p:last-child {
      color: $link-hover;
      font-size: 14px;
    }
  }
}

.profile__cafes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    margin-bottom: 10px;
  }
}

.profile__cafes__list {
  width: 100%;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__btns {
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:first-child {
    background-color: $light-sky;
    transition: background-color 0.15s ease-in;
    &:hover {
      background-color: $sky;
    }
  }
  a:last-child {
    color: $red;
    background-color: $light-red;
    transition: outline 0.15s linear;
    &:hover {
      outline: 2px solid $red;
    }
  }
}
