header
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/join') Join
      if(!loggedIn)
        li
          a(href='/login') Login
      else
        li
          a(href='/logout') Log out
        li
          a(href=`/users/${user._id}`) Profile