header
  nav
    ul.header__list
      div.header__menu
        li
          a(href='/').header__title BangBa
        li
          a(href='/search') 검색
      div.header__login-box
        if(loggedIn)
          li
            a(href=`/users/${loggedUser._id}`) 
              i.fas.fa-user
          li
            a(href='/logout') 로그아웃
        else
          li
            a(href='/join') 회원가입
          li
            a(href='/login') 로그인